<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/css/app.css"/>
    <link rel="stylesheet" href="assets/css/animate.css"/>
    <link href="https://file.myfontastic.com/ayQR938bPyc6d5nFGWkxx9/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>
    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="starterApp" ng-controller="UserController as ul" ng-cloak >

<md-fab-toolbar class="xs-position" flex-xs="100" md-open="ul.demo.isOpen" count="ul.demo.count" md-direction="{{ul.demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-raised">
            <md-icon><i class="material-icons menu-icon"> menu </i></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-toolbar flex-xs="100" layout-align="center center">
        <md-fab-actions class="md-toolbar-tools">
            <div class="btn-container" flex-xs="100" layout-align="center center">
                <img style="float: left" src="assets/images/logo.png">
                <div flex="60" layout-xs="column" layout-align="center center" flex-sm="70" flex-md="80" flex-xs="100" class="margin-nav">
                    <md-button flex-xs="100" class="nav-btn">PRODUCT</md-button>
                    <md-button flex-xs="100" class="nav-btn">PRICING</md-button>
                    <md-button flex-xs="100" class="nav-btn">SUPPORT</md-button>
                    <md-button flex-xs="100" class="nav-btn">BLOG</md-button>
                    <md-button flex-xs="100" class="nav-btn">SIGN IN</md-button>
                    <md-button flex-xs="100" class="company-btn">Create a New Company</md-button>
                </div>
            </div>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>
<header>
    <img class="logo-white" src="assets/images/white-logo.png">
    <div layout="row" layout-xs="column" layout-sm="column" flex="85" flex-xs="100" class="header-container">
        <div flex="30" flex-xs="100"  flex-sm="100">
            <h1>A SMARTEST Way to
                Connect with Your
                COMPANY</h1>
            <p>
                Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
                lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            </p>
        </div>
        <div flex="70" flex-xs="100" flex-sm="100" class="download-container">
            <img flex-xs="100" hide-xs src="assets/images/apple-lcd.png">
            <img flex-xs="100" hide-lg hide-md hide-sm src="assets/images/apple-lcd-xs.png">
            <md-button flex-xs="100" type="button" class="md-fab"><i class="icon-download-01"></i><span class="download-btn">free </span>download</md-button>
        </div>
    </div>
</header>
<div class="create-company" flex="100" layout-lg layout-xs="column">
    <p>Time BakerZ is free to use for as long as you want and with an unlimited number of people.</p>
    <form flex="70"layout-xs="column" flex-sm="90" layout-sm="column" flex-offset="15" flex-offset-xs="0" flex-offset-sm="0" layout="row" flex-xs="95">
        <div flex="70" flex-xs="100" flex-sm="100">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email Address</label>
                <input ng-model="user.firstName">
            </md-input-container>
        </div>
        <div flex="25" flex-xs="100" flex-sm="100">
            <md-button flex-xs="100" class="company-btn margin-btn">Create a New Company</md-button>
        </div>
    </form>
</div>

<div flex="85" flex-xs="100" class="content" layout-align="center">
    <h1>The most intuitive Portal App ever</h1>
    <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
        consequat ipsum, nec sagittis sem nibh id elit.</p>
    <p>
        Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat
        auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Mauris in erat justo. </p>
    <div flex="100">
        <div flex="70" style="position: relative">
            <md-button class="md-fab md-fab-top-left top profile-tooltip" aria-label="Insert Drive">
                <md-tooltip class="progile-pointer" md-direction="top">
                   <h6>Profile Photo</h6>
                    <p>dolor sit amet, consectetur adipisicing <br> elit,
                        sed do eiusmod tempor.</p>
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-fab-top-left left cover-tooltip" aria-label="Insert Drive">
                <md-tooltip class="progile-pointer" md-direction="top">
                    <h6>Background Cover</h6>
                    <p>dolor sit amet, consectetur adipisicing <br> elit,
                        sed do eiusmod tempor.</p>
                </md-tooltip>
            </md-button>
            <!--<md-checkbox ng-model="demo.showTooltip" style="padding-left:30px;">-->
                <!--Insert Drive-->
            <!--</md-checkbox>-->
        </div>
        <div flex="70" style="position: relative">
            <md-button hide-xs class="md-fab md-fab-top-left left timeline-tooltip" aria-label="Insert Drive">
                <md-tooltip class="timeline-poiter" md-direction="left" md-xs-direction="top">
                    <h6>Announcement Timeline</h6>
                    <p>dolor sit amet, consectetur adipisicing <br> elit,
                        sed do eiusmod tempor.</p>
                </md-tooltip>
            </md-button>
            <md-button hide-xs class="md-fab md-fab-top-left left handy-tooltip" aria-label="Insert Drive">
                <md-tooltip class="handy-pointer"  md-direction="right">
                    <h6>Handy Widgets</h6>
                    <p>dolor sit amet, consectetur adipisicing <br> elit,
                        sed do eiusmod tempor.</p>
                </md-tooltip>
            </md-button>
            <md-button hide-lg class="md-fab md-fab-top-left left timeline-tooltip" aria-label="Insert Drive">
                <md-tooltip class="progile-pointer" md-direction="top" md-xs-direction="top">
                    <h6>Announcement Timeline</h6>
                    <p>dolor sit amet, consectetur adipisicing <br> elit,
                        sed do eiusmod tempor.</p>
                </md-tooltip>
            </md-button>
            <md-button hide-lg class="md-fab md-fab-top-left left handy-tooltip" aria-label="Insert Drive">
                <md-tooltip class="progile-pointer"  md-direction="top">
                    <h6>Handy Widgets</h6>
                    <p>dolor sit amet, consectetur adipisicing <br> elit,
                        sed do eiusmod tempor.</p>
                </md-tooltip>
            </md-button>
        </div>
    </div>
</div>
<div class="content-two" layout-lg layout-xs-row>
    <div flex="85" flex-xs="90" flex-sm="90" layout="row" layout-sm="column" layout-xs="column">
        <div flex="30"  flex-xs="100" flex-sm="100">
            <h1>The most
                intuitive Portal
                App ever
            </h1>
            <p>
                Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                consequat ipsum, nec sagittis sem nibh id elit.
            </p>
            <p>
                Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat
                auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
            </p>
            <p>
                Nullam ac urna eu felis dapibus condimentum sit amet
                augue. Sed non neque elit. Sed ut imperdiet nisi.
                Proin condimentum fermentum nunc.
                Etiam pharetra, erat sed fermentum feugiat, velit mauris
                egestas quam, ut aliquam massa nisl quis neque.
            </p>
        </div>
        <div flex="70" flex-xs="100" flex-sm="100" style="position: relative">
            <img src="assets/images/portalapp-2.png">
            <md-button  class="md-fab md-fab-top-left left chat-tootip" aria-label="Insert Drive">
                <md-tooltip class="chat-pointer" md-direction="top">
                    <h6>Chat with Collegues</h6>
                    <p>dolor sit amet, consectetur adipisicing <br> elit,
                        sed do eiusmod tempor.</p>
                </md-tooltip>
            </md-button>
        </div>
    </div>
</div>
<div flex class="features" layout-align="center center">
    <div layout-lg layout-xs-row layout-align="center center">
        <h1>Features</h1>
    </div>
    <div flex="85" flex-xs="100" layout-lg layout-xs-column layout-align="center center">
        <div flex layout="row" layout-align="center" layout-xs="column">
            <div flex="30" flex-xs="95" flex-sm="90" layout-align="center">
                <i class="icon-timeline-01"></i>
                <h5>
                    Timeline for Announcemetnas
                </h5>
                <p>
                    Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                    consequat ipsum, nec sagittis sem nibh id elit.
                </p>
            </div>
            <div flex="30" flex-xs="95" flex-sm="90" flex-offset="5">
                <i class="icon-widgets-01"></i>
                <h5>
                    Handy Widgets
                </h5>
                <p>
                    Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                    consequat ipsum, nec sagittis sem nibh id elit.
                </p>
            </div>
            <div flex="30" flex-xs="95" flex-sm="90" flex-offset="5">
                <i class="icon-hours-01"></i>
                <h5>
                    Working Hours Calculator
                </h5>
                <p>
                    Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                    consequat ipsum, nec sagittis sem nibh id elit.
                </p>
            </div>
        </div>
    </div>
    <div flex="85" flex-xs="100" flex-sm="90" layout-lg layout-xs-column layout-align="center center">
        <div flex layout="row" layout-xs="column">
            <div flex="30" flex-xs="95" flex-sm="90">
                <i class="icon-weather-01"></i>
                <h5>
                    Timeline for Announcemetnas
                </h5>
                <p>
                    Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                    consequat ipsum, nec sagittis sem nibh id elit.
                </p>
            </div>
            <div flex="30" flex-xs="95" flex-offset="5" flex-sm="90">
                <i class="icon-live-chat-01"></i>
                <h5>
                    Handy Widgets
                </h5>
                <p>
                    Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                    consequat ipsum, nec sagittis sem nibh id elit.
                </p>
            </div>
            <div flex="30" flex-xs="95" flex-offset="5" flex-sm="90">
                <i class="icon-invoice-01"></i>
                <h5>
                    Working Hours Calculator
                </h5>
                <p>
                    Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                    consequat ipsum, nec sagittis sem nibh id elit.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="what-people-say" flex>
    <div flex="85" flex-xs="100">
        <div layout="row" layout-xs-row layout-align="center center">
            <h1>What people say</h1>
        </div>
        <div layout="row" layout-xs-row layout-align="center center">
            <span class="border-bottom"></span>
        </div>
        <div flex layout="row" layout-sm="column" layout-xs="column">
            <div flex="60" flex-xs="95" flex-sm="90" class="icon-before-after people-padding">
                <div class="icon-quotes" ng-repeat="notification in ul.notifications" ng-if="$index == ul.currentNotification">
                <h3 class=" animated fadeIn">
                    {{notification.quote}}
                </h3>
                <h4 class="animated fadeIn">

                    {{notification.data}}
                </h4>
                <p> Read more in <a href="javascript:" class="wordpress-quote">{{notification.title}}</a></p>
                </div>
                <div layout="column" class="script-languages">
                    <ul flex="100" layout="row" layout-xs="column" layout-sm="row">
                        <li flex="25" flex-xs="50" layout="row" id="foo1" ng-click="ul.currentNotification = 0">
                            <a ng-class="{'sprite-active': ul.currentNotification == 0}" class="wordpress" href="javascript:">
                                Wordpress
                            </a>
                        </li>
                        <li flex="25" flex-xs="50" layout="row" id="foo2" ng-click="ul.currentNotification = 1">
                            <a ng-class="{'sprite-active': ul.currentNotification == 1}" class="php" href="javascript:">
                                php
                            </a>
                        </li>
                        <li flex="25" flex-xs="50" layout="row" id="foo3" ng-click="ul.currentNotification = 2"><a ng-class="{'sprite-active': ul.currentNotification == 2}" class="jquery" href="javascript:">jquery</a></li>
                        <li flex="25" flex-xs="50" layout="row" id="foo4" ng-click="ul.currentNotification = 3"><a ng-class="{'sprite-active': ul.currentNotification == 3}" class="github" href="javascript:">github</a></li>
                    </ul>
                    <ul flex="100" layout="row" layout-xs="column" layout-sm="row">
                        <li flex="25" flex-xs="50" layout="row" id="foo5" ng-click="ul.currentNotification = 4"><a ng-class="{'grunt-sprite': ul.currentNotification == 4}"  class="grunt" href="javascript:">grunt</a></li>
                        <li flex="25" flex-xs="50" layout="row" id="foo6" ng-click="ul.currentNotification = 5"><a ng-class="{'sprite-active': ul.currentNotification == 5}" class="jshint" href="javascript:">jshint</a></li>
                        <li flex="25" flex-xs="50" layout="row" id="foo7" ng-click="ul.currentNotification = 6"><a ng-class="{'sprite-active': ul.currentNotification == 6}" class="nodejs" href="javascript:">nodejs</a></li>
                        <li flex="25" flex-xs="50" layout="row" id="foo8" ng-click="ul.currentNotification = 7"><a ng-class="{'sprite-envato': ul.currentNotification == 7}" class="envato" href="javascript:">envato</a></li>
                    </ul>
                </div>
            </div>
            <ul flex="40" flex-xs="100" flex-sm="90" flex-offset="5" layout="column" class="scroll">
                <div class="border-line"></div>
                <li flex layout="row" class="margin-bottom" layout-sm="row" layout-xs="column">
                    <span flex="20" flex-sm="20" flex-xs="100" layout-lg layout-xs-row>
                        <img class="slider-img" src="assets/images/slider-img-one.png">
                    </span>
                    <span flex="75" flex-xs="95" flex-sm="75" flex-offset="5" flex-offset-xs="0">
                        <strong>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi
                            elit consequat ipsum.</strong>
                        <strong class="by-font strong"> by <a href="javascript" class="wordpress-quote joy-lobo">Joy lobo</a></strong>
                    </span>
                </li>
                <li flex layout="row" class="margin-bottom" layout-sm="row" layout-xs="column">
                    <span flex="20" flex-xs="100" layout-lg layout-xs-row>
                        <img class="slider-img" src="assets/images/slider-img-two.png">
                    </span>
                    <span flex="75" flex-xs="95" flex-offset="5" flex-offset-xs="0">
                        <strong>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi
                            elit consequat ipsum.</strong>
                        <strong class="by-font strong"> by <a href="javascript" class="wordpress-quote joy-lobo">Jinnefer</a></strong>
                    </span>
                </li>
                <li flex layout="row" class="margin-bottom" layout-sm="row" layout-xs="column">
                    <span flex="20" flex-xs="100" layout-lg layout-xs-row>
                        <img class="slider-img" src="assets/images/slider-img-three.png">
                    </span>
                    <span flex="75" flex-xs="95" flex-offset="5" flex-offset-xs="0">
                        <strong>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi
                            elit consequat ipsum.</strong>
                        <strong>
                            Nam nec tellus a odio tincidunt auctor a ornare odio.
                        </strong>
                        <p class="by-font strong"> by <a href="javascript" class="wordpress-quote joy-lobo">Rassel arnold</a></p>
                    </span>
                </li>
                <li flex layout="row" class="margin-bottom" layout-sm="row" layout-xs="column">
                    <span flex="20" flex-sm="20" flex-xs="100" layout-lg layout-xs-row>
                        <img class="slider-img" src="assets/images/slider-img-one.png">
                    </span>
                    <span flex="75" flex-xs="95" flex-sm="75" flex-offset="5" flex-offset-xs="0">
                        <strong>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi
                            elit consequat ipsum.</strong>
                        <strong class="by-font strong"> by <a href="javascript" class="wordpress-quote joy-lobo">Joy lobo</a></strong>
                    </span>
                </li>
                <li flex layout="row" class="margin-bottom" layout-sm="row" layout-xs="column">
                    <span flex="20" flex-xs="100" layout-lg layout-xs-row>
                        <img class="slider-img" src="assets/images/slider-img-two.png">
                    </span>
                    <span flex="75" flex-xs="95" flex-offset="5" flex-offset-xs="0">
                        <strong>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi
                            elit consequat ipsum.</strong>
                        <strong class="by-font strong"> by <a href="javascript" class="wordpress-quote joy-lobo">Jinnefer</a></strong>
                    </span>
                </li>
                <li flex layout="row" class="margin-bottom" layout-sm="row" layout-xs="column">
                    <span flex="20" flex-xs="100" layout-lg layout-xs-row>
                        <img class="slider-img" src="assets/images/slider-img-three.png">
                    </span>
                    <span flex="75" flex-xs="95" flex-offset="5" flex-offset-xs="0">
                        <strong>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi
                            elit consequat ipsum.</strong>
                        <strong>
                            Nam nec tellus a odio tincidunt auctor a ornare odio.
                        </strong>
                        <p class="by-font strong"> by <a href="javascript" class="wordpress-quote joy-lobo">Rassel arnold</a></p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer layout-align="center center">
    <div flex="85"  flex-xs="100" layout-xs="column" layout-sm="row" layout="row">
        <div flex="25" flex-xs="100">
            <h4>Using Time BakerZ</h4>
            <ul>
                <li><a href="javascript:">product</a></li>
                <li><a href="javascript:">Pricing</a></li>
                <li><a href="javascript:">Support</a></li>
                <li><a href="javascript:">Getting Started</a></li>
                <li><a href="javascript:">Video Guides</a></li>
                <li><a href="javascript:">App Directory</a></li>
                <li><a href="javascript:">API</a></li>
            </ul>
        </div>
        <div flex="25" flex-xs="100">
            <h4>Time BakerZ</h4>
            <ul>
                <li><a href="javascript:">Jobs</a></li>
                <li><a href="javascript:">Customers</a></li>
                <li><a href="javascript:">Blog</a></li>
                <li><a href="javascript:">broadcast</a></li>
                <li><a href="javascript:">Slack Shop</a></li>
            </ul>
        </div>
        <div flex="25" flex-xs="100">
            <h4>Legal</h4>
            <ul>
                <li><a href="javascript:">Privacy</a></li>
                <li><a href="javascript:">Security</a></li>
                <li><a href="javascript:">Terms of Service</a></li>
                <li><a href="javascript:">Policies</a></li>
            </ul>
        </div>
        <div flex="25" flex-xs="100">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="javascript:">Download desktop app</a></li>
                <li><a href="javascript:">Download mobile app</a></li>
                <li><a href="javascript:">Brand Guidelines</a></li>
                <li><a href="javascript:">Slack at Work</a></li>
                <li><a href="javascript:">Status</a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="social-icon">
    <div  flex="85" flex-xs="95" layout-lg-row layout="row">
        <div flex="70" flex-sm="60" flex-xs="20">
            <h1><a href="javascript:"></a></h1>
        </div>
        <div flex="30" flex-sm="40" flex-xs="80">
            <h5>Contact Us</h5>
                      <span>
                          <a href="javascript:"><i class="icon-facebook"></i></a>
                          <a href="javascript:"><i class="icon-google-plus"></i></a>
                          <a href="javascript:"><i class="icon-twitter"></i></a>
                          <a href="javascript:"><i class="icon-youtube-play"></i></a>
                          </span>
        </div>
    </div>
</div>
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

<script src="./src/users/jquery.newsTicker.js"></script>
<script src="./src/users/Users.js"></script>
<script src="./src/users/UserController.js"></script>
<script src="./src/users/UserService.js"></script>

<script type="text/javascript">

    angular
            .module('starterApp', ['ngMaterial', 'users'])
            .config(function($mdThemingProvider, $mdIconProvider){

                $mdIconProvider
                        .defaultIconSet("./assets/svg/avatars.svg", 128)
                        .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                        .icon("share"      , "./assets/svg/share.svg"       , 24)
                        .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                        .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                        .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                        .icon("phone"      , "./assets/svg/phone.svg"       , 512);

//                      $mdThemingProvider.theme('default');
//                          .primaryPalette('orange')
//                          .accentPalette('red');

            });

</script>

</body>
</html>
