body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.margin-nav {
  float: right;
  margin-right: 40px
}
/* Toolbar area */
.md-fab-action-item {
  width: 100%;
  float: left;
}
md-fab-toolbar.md-left md-fab-trigger {
  right: 5px;
}
md-fab-toolbar .md-fab-toolbar-wrapper {
  height: 60px;
}
.md-button.md-fab, md-fab-toolbar md-toolbar .md-toolbar-tools {
  margin: 0;
}
.btn-container {
  width: 100%;
  float: left;
}
.btn-container .navigation-btn {
  float: right;
  width: 62%;
}
.nav-color {
  background: white !important;
}
.material-icons {
  opacity: 1 !important;
}
.nav-btn {
  color: black !important;
}
.company-btn {
  color: white !important;
  background: #e66706 !important;
  padding: 4px 22px;
  margin: 0;
  font-weight: bold;
}
.menu-icon {
  color: orange;
  background: none;
  padding: 17px 17px;
  margin-top: -17px;
  margin-left: -17px;
  border-radius: 50%;
}
.menuBardemoBasicUsage .page-container {
  background-color: #f1f1f1;
  padding: 32px; }
.menuBardemoBasicUsage .page {
  margin: 0 auto;
  background-color: white;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); }
.menuBardemoBasicUsage .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal; }
.menuBardemoBasicUsage .page p {
  line-height: 1.6rem; }
.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}
md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}
md-list-item > button {
  width:100%;
  text-align:left !important;
  height:70px;;
}
md-icon.avatar {
  margin-right: 20px;
}
button#main {
  margin-bottom: 10px;
}
.md-toolbar-tools {
  max-height: 100%;
  height: 60px;
}
md-list-item {
  overflow: hidden;
}
.avatar {
  position:relative;
  width: 54px;
  height: 54px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;

}
md-bottom-sheet  md-icon {
  margin-right:20px;
}
header {
  background: url("../images/head-img.png")no-repeat;
  float: left;
  width: 100%;
  height: 710px;
  margin-top: -60px;
  background-size: cover;
}
header .logo-white {
  margin: 6px 0 0 20px;
}
.flex-85 {
  margin: 0 auto;
}
header .header-container {
  padding-top: 75px;
}
header .header-container h1 {
  font-size: 41px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 45px;
  width: 110%;
}
header .header-container p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
header .header-container .download-container {
  position: relative;
}
header .header-container .download-container img {
  width: 95%;
  margin: 5px auto 0 auto;
  display: block;
}
header .header-container .download-container button {
  position: absolute;
  top: 18%;
  width: 200px;
  background-color: #e66706 !important;
  color: white;
  border-radius: 50%;
  right: -60px;
  float: left;
  font-size: 16px;
  padding: 35px 0 51px 0;
  border: none;
  line-height: 45px;
  height: 200px;
  outline: none;
}
header .header-container .download-container button .download-btn {
  font-size: 37px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  display: block;
}
.icon-download-01 {
  display: block;
  font-size: 32px;
}
.create-company {
  background: #f9f9f9;
  display: inline-block;
  width: 100%;
  padding: 65px 0 0 0;
  text-align: center;
  box-shadow: 0 0 5px 0 gray;
  max-height: none;
}
.create-company p {
  font-size: 22px;
  margin: 0 0 10px 0;
}
.create-company label {
  left: 25px !important;
  top: 0;
}
.md-input-focused > label {
  left: 5px !important;
  color: #e66706 !important;
  font-size: 20px;
  padding-left: 20px !important;
  padding-top: 2px !important;
}
.md-input-focused > input {
  border: 2px solid #d2d3d5 !important;
  left: 5px !important;
}
.create-company input {
  border: 2px solid #d2d3d5;
  height: 78px;
  vertical-align: middle;
  background: white;
  border-radius: 5px;
  padding-left: 15px;
}
.create-company .margin-btn {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  padding: 20.5px;
  margin-left: 10px;
}
.content {
  padding: 100px 0 0 0;
  text-align: center;
  background-image: url("../images/portalapp.png");
  background-repeat: no-repeat;
  max-height: 910px;
  height: 910px;
  position: relative;
  background-position: 0 90px;
  background-size: 100%;
}
md-tooltip .md-content {
  height: 88px !important;
  text-align: center;
  box-shadow: 0 0 8px 2px #000;
}
md-tooltip {
  font-size: 10px;
  opacity: 1 !important;
  color: black !important;
  overflow: visible;
  border-radius: 10px !important;
}
md-tooltip .md-content {
  background: white;
  opacity: 0.9 !important;
  border-radius: 10px !important;
}
md-tooltip h6 {
  font-size: 18px !important;
  margin: 10px 0 0 0;
}
.profile-tooltip {
  left: 245px !important;
  top: 210px !important;
  width: 30px !important;
  border-radius: 50% !important;
  height: 28px !important;
  border: 12px solid !important;
  background: #529dc5 !important;
  -webkit-animation: rgb 1s infinite alternate !important;
  /*position: relative !important;*/
  border-color: rgb(171, 176, 178) !important;
}
#rgb {
  border-color: #fff !important;
  animation: rgb 1s infinite alternate !important;
}
@keyframes rgb {
/* 0% will fallback to the default background-color of #rgb*/
50% {border-color: #cee6d5; /*blue*/ }
100% {border-color: #e69431; /*red*/}
}
.progile-pointer:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-top: 8px solid ;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: -8px;
  border-top-color: rgba(255, 255, 255, 0.9);
}
.progile-pointer:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-top: 8px solid ;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: -8px;
  border-top-color: rgba(255, 255, 255, 0.9);
}
.timeline-poiter:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 101.8%;
  transform: rotate(-90deg);
  border-top: 8px solid ;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: -8px;
  border-top-color: rgba(255, 255, 255, 0.9);
}
.handy-pointer:after {
  content: "";
  position: absolute;
  top: 45%;
  left: -3px;
  transform: rotate(90deg);
  border-top: 8px solid ;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: -8px;
  border-top-color: rgba(255, 255, 255, 0.9);
}
.cover-tooltip {
  left: auto !important;
  right: 40px !important;
  top: 180px !important;
  width: 30px !important;
  border-radius: 50% !important;
  height: 28px !important;
  border: 12px solid !important;
  background: #529dc5 !important;
  animation: rgb 1s infinite alternate;
  border-color: rgb(171, 176, 178) !important;
}
.timeline-tooltip {
  left: 245px !important;
  top: 310px !important;
  width: 30px !important;
  border-radius: 50% !important;
  height: 28px !important;
  border: 12px solid !important;
  background: #529dc5 !important;
  -webkit-animation: rgb 1s infinite alternate;
  position: relative;
  border-color: rgb(171, 176, 178) !important;
}
.handy-tooltip {
  left: auto !important;
  right: 25px !important;
  top: 340px !important;
  width: 30px !important;
  border-radius: 50% !important;
  height: 28px !important;
  border: 12px solid !important;
  background: #529dc5 !important;
  animation: rgb 1s infinite alternate;
  position: relative;
  border-color: rgba(255, 255, 240, 0.8) !important;
}
.chat-tootip {
  left: auto !important;
  right: 26% !important;
  top: 28% !important;
  width: 30px !important;
  border-radius: 50% !important;
  height: 28px !important;
  border: 12px solid !important;
  background: #529dc5 !important;
  animation: rgb 1s infinite alternate;
  position: relative;
  border-color: rgba(255, 255, 240, 0.8) !important;
}
.chat-pointer:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-top: 8px solid ;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: -8px;
  border-top-color: rgba(255, 255, 255, 0.9);
}
.content h1 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  display: inline-block;
}
.content p {
  width: 74%;
  display: inline-block;
}
.content-two {
  padding: 100px 0;
  background: #1fbba6;
}
.content-two h1 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  line-height: 45px;
  display: inline-block;
}
.content-two p {
  color: white;
}
.content-two img {
  width: 100%;
}
.features {
  padding: 100px 0;
  text-align: center;
  box-shadow: 0 0 5px 0 gray;
}
.features h1 {
  margin-top: 0;
  border-bottom: 3px solid #1fbba6;
  padding: 0 40px 10px 35px;
  font-weight: 300;
}
.features  i {
  font-size: 50px;
  color: #e66706;
  margin-top: 70px;
  display: inline-block;
}
.features  h5 {
  font-size: 22px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 0;
}
.features  p {
  margin: 0;
  text-align: center;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #949494;
}
.what-people-say {
  padding: 100px 0;
  background: #f9f9f9;
}
.what-people-say h1 {
  margin-top: 0;
  font-weight: 300;
}
.what-people-say .border-bottom {
  border-top: 3px solid #1fbba6;
  width: 15%;
}
.what-people-say .people-padding {
  padding-top: 90px;
  position: relative;
}
.what-people-say .people-padding .icon-quotes {
  position: relative;
}
.what-people-say .people-padding .icon-quotes:before {
  content: '\43';
  color: #e5ebee;
  font-size: 45px;
  position: absolute;
  left: -60px;
  top: 0;
}
.what-people-say .people-padding .icon-quotes:after {
  content: '\44';
  color: #e5ebee;
  font-size: 50px;
  position: absolute;
  right: -60px;
  bottom: -30px;
  font-family: "user" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.what-people-say i {
  color: #dcdcdc;
  font-size: 35px;
}
.what-people-say .slider-img {
  width: 59%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #50aea2;
  margin: 22px 0 0 15px;
  z-index: 1;
}
.joy-lobo, .by-font {
  font-size: 14px !important;
}
.wordpress {
  background: url("../images/wordpress.jpg") no-repeat;
  display: inline-block;
  width: 175px;
  height: 36px;
  background-position: 0 -48px;
  transition: 0.5s;
  font-size: 0;
}
.php {
  background: url("../images/php.jpg")no-repeat;
  display: inline-block;
  width: 175px;
  height: 36px;
  background-position: 0 -48px;
  transition: 0.5s;
  font-size: 0;
}
.jquery {
  background: url("../images/jquery.jpg")no-repeat;
  display: inline-block;
  width: 175px;
  height: 36px;
  background-position: 0 -48px;
  transition: 0.5s;
  font-size: 0;
}
.github {
  background: url("../images/github.jpg")no-repeat;
  display: inline-block;
  width: 175px;
  height: 36px;
  background-position: 0 -48px;
  transition: 0.5s;
  font-size: 0;
}
.grunt {
  background: url("../images/grunt.jpg") no-repeat;
  display: inline-block;
  width: 175px;
  height: 28px;
  background-position: 0 -48px;
  margin-top: 5px;
  transition: 0.5s;
  font-size: 0;
}
.jshint {
  background: url("../images/JsHint.jpg")no-repeat;
  display: inline-block;
  width: 175px;
  height: 36px;
  background-position: 0 -48px;
  transition: 0.5s;
  font-size: 0;
}
.nodejs {
  background: url("../images/nodeJs.jpg")no-repeat;
  display: inline-block;
  width: 175px;
  height: 36px;
  background-position: 0 -48px;
  transition: 0.5s;
  font-size: 0;
}
.envato {
  background: url("../images/envato.jpg")no-repeat;
  display: inline-block;
  width: 175px;
  height: 28px;
  background-position: 0 -48px;
  margin-top: 9px;
  transition: 0.5s;
  font-size: 0;
}
.sprite-active {
  background-position: 0 -15px;
}
.sprite-envato {
  background-position: 0 -25px;
}
.grunt-sprite {
  background-position: 0 -20px;
}
.envato:hover {
  background-position: 0 -25px;
  transition: 0.5s;
}
.wordpress:hover {
  background-position: 0 -15px;
  transition: 0.5s;
}
.php:hover {
  background-position: 0 -15px;
  transition: 0.5s;
}
.jquery:hover {
  background-position: 0 -15px;
  transition: 0.5s;
}
.github:hover {
  background-position: 0 -15px;
  transition: 0.5s;
}
.grunt:hover {
  background-position: 0 -20px;
  transition: 0.5s;
}
.jshint:hover {
  background-position: 0 -15px;
  transition: 0.5s;
}
.nodejs:hover {
  background-position: 0 -16px;
  transition: 0.5s;
}
.social-backgrond {
  background-position: 0 -12px;
}
.script-languages {
  margin-left: -35px;
  margin-top: 80px;
}
.script-languages ul {
  padding: 0;
}
.what-people-say .scroll{
  position: relative;
  display: inline-block;
  padding: 40px 0 0 0;
  margin-top: 20px;
  transition: 1s;
}
.what-people-say .scroll li {
  /*transition: s;*/
}
.what-people-say .margin-bottom {
  height: 250px;
  position: relative;
  z-index: 2;
}
.what-people-say .border-line {
  border-right: 2px solid #dcdcdc;
  display: inline-block;
  height: 110%;
  float: left;
  position: absolute;
  top: -45px;
  left: 9.5%;
  z-index: 1;
}
.what-people-say strong {
  font-size: 14px;
  color: #6e6e6e;
  font-weight: normal;
}
.what-people-say h3 {
  display: inline-block;
  width: 90%;
  margin: 20px 0 20px 0;
  color: #1fbba6;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
}
.what-people-say h4 {
  font-size: 17px;
  font-weight: normal;
  color: #9b9b9b;
  margin-top: 10px;
}
.what-people-say .strong {
  text-align: right;
  display: block;
  font-style: italic;
  color: #9b9b9b;
  font-size: 18px;
}
.what-people-say .strong:before {
  content: "";
  display: inline-block;
  height: 0;
  width: 37px;
  border: 0;
  border-top: 1px #a0b6c1 solid;
  border-bottom: 1px #d4dee3 solid;
  vertical-align: middle;
  margin: 0 16px 0 0;
}
.what-people-say p {
  text-align: right;
  display: block;
  font-style: italic;
  color: #9b9b9b;
  font-size: 18px;
}
.what-people-say p:before {
  content: "";
  display: inline-block;
  height: 0;
  width: 37px;
  border: 0;
  border-top: 1px #a0b6c1 solid;
  border-bottom: 1px #d4dee3 solid;
  vertical-align: middle;
  margin: 0 16px 0 0;
}
.what-people-say .wordpress-quote {
    font-weight: bold;
    color: black;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
}
footer {
  background: url("../images/footer-img.png")no-repeat;
  padding: 60px 0 26px 0;
  background-size: cover;
}
footer h4 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 10px;

}
footer ul {
  margin: 0;
  padding: 0;
  line-height: 22px;
}
footer ul li {
  display: block;
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}
.social-icon {
  background: #1fbba6;
  padding: 5px 0;
}
.social-icon h1 {
  margin: 0;
}
.social-icon h1 a {
  background: url("../images/white-logo.png") no-repeat;
  width: 50px;
  display: block;
  height: 50px;
}
.social-icon h5 {
  color: white;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  margin: 18px 10px 0 0;
  float: left;
}
.social-icon span {
  float: left;
  margin-top: 15px;
  letter-spacing: 5px;
}
.social-icon span a {
  text-decoration: none;
  display: inline-block;
}
.social-icon span a i {
  font-size: 22px;
  color: white;
}
@media (min-width: 960px) and (max-width: 1280px){
  .features h1 {
    display: inline-block;
  }
  .content {
    background-position: 10px 240px;
  }
}
@media (min-width: 601px) and (max-width: 959px) {
  .flex-sm-90 {
    margin: 0 auto;
  }
  header .header-container {
    padding-top: 60px;
  }
  header .header-container h1 {
    width: 100%;
    font-size: 38px;
    margin: 0;
    text-align: center;
  }
  header .header-container p {
    text-align: center;
  }
  header .header-container .download-container img {
    width: 450px;
    margin-top: 50px;
    height: 330px;
    margin: 50px auto 0 auto;
    display: block;
  }
  header .header-container .download-container button {
    top: 20%;
    right: 0;
    left: 0;
    margin: 0 auto;
    float: none;
  }
  .create-company .margin-btn {
    width: 100%;
    margin: 0 0 50px 0;
  }
  .content {
    background-size: contain;
    background-position: bottom;
  }
  .features {
    padding: 60px 0;
  }
  .features h1 {
    display: inline-block;
  }
  .features i {
    margin-top: 40px;
  }
  .what-people-say {
    padding: 60px 0;
  }
  .what-people-say h1 {
    text-align: center;
  }
  .what-people-say .slider-img {
    margin: 10px 0 0 15px;
  }
  .profile-tooltip {
    left: 155px !important;
    top: 230px !important;
  }
  .timeline-tooltip {
    left: 155px !important;
  }
  .cover-tooltip {
    top: 200px !important;
  }
  .nav-btn {
    padding: 0;
    margin: 0 4px;
    min-width: 24px;
    font-size: 13px;
  }
  .company-btn {
    padding: 4px 6px;
    font-weight: normal;
  }
}
@media (min-width: 280px) and (max-width: 600px) {
  header .header-container .download-container button {
    font-size: 13px;
    font-weight: 300;
    top: -100px;
    right: 0;
    line-height: 25px;
    width: 157px;
    height: 157px;
    left: 0;
    margin: 0 auto;
    text-transform: lowercase;
  }
  .icon-download-01 {
    padding-bottom: 10px;
    margin-top: -5px;
  }
  header .header-container .download-container button .download-btn {
    font-size: 30px;
    text-transform: lowercase;
    font-weight: 300;
  }
  md-fab-toolbar md-fab-trigger .md-fab-toolbar-background {
    border-radius: 0 !important;
  }
  md-fab-toolbar .md-fab-toolbar-wrapper {
    height: 100%;
  }
  .md-toolbar-tools {
    max-height: 100%;
    height: 100%;
  }
  .xs-position {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .margin-nav {
    width: 100%;
    margin: 0;
  }
  .nav-btn {
    width: 100%;
    margin-top: 5px !important;
  }
  header {
    margin-top: 0;
    height: 800px;
  }
  header .header-container h1 {
    text-align: center;
    width: 100%;
    font-size: 35px;
  }
  header .header-container p {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 130px;
  }
  .flex-xs-95 {
    margin: 0 auto;
  }
  .create-company .margin-btn {
    width: 99%;
    margin: 0 auto;
    float: none;
    display: block;
  }
  .create-company {
    padding-bottom: 40px;
  }
  .content p {
    width: 90%;
    display: inline-block;
  }
  .content {
    padding: 40px 0 0 0;
    max-height: 889px;
    height: 750px;
    background-position: bottom;
    background-size: 100%;
  }
  .content-two {
    padding: 30px 0;
  }
  .content-two h1 {
    text-align: center;
    font-weight: 300;
  }
  .content-two p {
    text-align: center;
  }
  .features {
    padding: 40px 0;
  }
  .features h1 {
    border-bottom: 3px solid #1fbba6;
    padding: 0 0 0 0;
    font-weight: 300;
    width: 70%;
    margin: 0 auto;
  }
  .features i {
    margin-top: 50px;
  }
  .what-people-say h1 {
    text-align: center;
  }

  .what-people-say .border-bottom {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  footer {
    /*height: 100%;*/
    background-size: cover;
    padding: 0 0 130px 0;
    text-align: center;
  }
  footer h4 {
    margin-top: 40px;
    display: inline-block;
  }
  .social-icon {
    padding: 5px 0;
  }
  .what-people-say .scroll {
    height: 290px !important;
    text-align: center;
    margin: 0;
  }
  .what-people-say .people-padding .icon-quotes {
    width: 80%;
    margin: 0 auto;
  }
  .what-people-say h3 {
    font-size: 20px;
    width: 100%;
  }
  .what-people-say .people-padding .icon-quotes:before {
    color: #dcdcdc;
    font-size: 35px;
    left: -35px;
    top: 10px;
  }
  .what-people-say .people-padding .icon-quotes:after {
    color: #dcdcdc;
    font-size: 35px;
    right: -28px;
    bottom: -30px;
  }
  .what-people-say .wordpress-quote {
    font-size: 17px;
  }
  .what-people-say p:before {
    width: 30px;
    margin: 0;
  }
  .what-people-say .border-line {
    display: none;
  }
  .what-people-say .slider-img {
    width: auto;
    margin: 22px 0 0 0;
  }
  .by-font {
    width: 80%;
  }
  .wordpress {
    width: 45%;
    margin: 10px auto;
  }
  .php {
    width: 40%;
    margin: 10px auto;
  }
  .jquery {
    width: 40%;
    margin: 10px auto;
  }
  .github {
    width: 40%;
    margin: 10px auto;
  }
  .grunt {
    width: 40%;
    margin: 10px auto;
  }
  .jshint {
    width: 40%;
    margin: 10px auto;
  }
  .nodejs {
    width: 40%;
    margin: 15px auto;
  }
  .envato {
    width: 40%;
    margin: 15px auto;
  }
  md-fab-toolbar.md-left md-fab-trigger {
    right: 0;
  }
  .profile-tooltip {
    top: 130px !important;
    left: 100px !important;
    height: 3px !important;
    border: 5px solid !important;
    min-height: 21px;
    width: 3px !important;
  }
  .cover-tooltip {
    top: 130px !important;
    left: auto !important;
    height: 3px !important;
    border: 5px solid !important;
    min-height: 21px;
    width: 3px !important;
    right: 40px !important;
  }
  .timeline-tooltip {
    top: 180px !important;
    left: 31%!important;
    height: 3px !important;
    border: 5px solid !important;
    min-height: 21px;
    width: 3px !important;
  }
  .handy-tooltip {
    top: 180px !important;
    left: 90% !important;
    height: 3px !important;
    border: 5px solid !important;
    min-height: 21px;
    width: 3px !important;
  }
  md-tooltip {
    left: 20% !important;
  }
  .chat-tootip {
    right: 25% !important;
    top: 30% !important;
    height: 3px !important;
    border: 5px solid !important;
    min-height: 21px;
    width: 3px !important;
  }
}
@media (min-width: 440px) and (max-width: 600px){
  header .header-container .download-container img {
    width: 80%;
  }
}
@media (min-width: 320px) and (max-width: 335px){
  .profile-tooltip {
    top: 40px !important;
    left: 60px !important;
  }
  .cover-tooltip {
    top: 30px !important;
    left: auto !important;
    right: 20px !important;
  }
  .timeline-tooltip {
    top: 80px !important;
  }
  .handy-tooltip {
    top: 80px !important;
  }
  .chat-tootip {
    right: 25% !important;
  }
}
